{$GRAFANA_HOST} {
    reverse_proxy grafana:3000
}

{$PROMETHEUS_HOST} {
    reverse_proxy prometheus:9090
}

{$ALERTMANAGER_HOST} {
    reverse_proxy alertmanager:9093
}

{$PANICDUTY_HOST} {
    reverse_proxy panic_duty:8080
}

{$API_HOST} {
    reverse_proxy model_api:8000
}

{$KIBANA_HOST} {
    reverse_proxy kibana:5601
}
